mixin postInfo(item)
	span.post-time
		!= full_date(item.date, config.date_format)
		if item.from && (is_home() || is_post())
			a.post-from(href=item.from, target='_blank', title=item.from)
				!= __('translate_original')

mixin postTitle(title)
	if title
		!= title
	else
		!= __('untitled')
		
mixin postWriter(writer)
	case writer
		when 'coreshin'
			include writer/coreshin.pug
		default
			include writer/moikka.pug

//- Index Page
mixin posts()
	ul.home.post-list
		- page.posts.each(function (item) {
			li.post-list-item
				article.post-block
					h2.post-title
						a.post-title-link(href=url_for(item.path) class="no-barba")
							+postTitle(item.title)
					+postInfo(item)
					.post-content
						!= item.excerpt
					a.read-more(href=url_for(item.path))
						!= __('read_more')
		- })

//- Archive Page
mixin postList()
	.archive
		- var year = 0;
		- var change = false;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				h2.archive-year
					!= year
			.post-item
				+postInfo(item)
				a.post-title-link(href=url_for(item.path))
					+postTitle(item.title)
		- })



//- Post Page
mixin post(item)
	article.post
		header.post-header
			p.post-info
				+postInfo(item)
			h1.post-title
				+postTitle(item.title)
			.eyecatch
				img(src="/img/eyecatch-example.jpg",width="728",height="460",alt="アイキャッチ画像")
				// post.imageに差し替える

		section.post-content
			!= item.content
		section.post-footer
			.post-writer
				+postWriter(item.writer)